In [1]:

import pandas as pd
import numpy as np
import os
import sys
sys.path.append('/home/lucas/Área de Trabalho/Machine-learning_webapp/package')
from classes import NaSolver
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.GarageType

0       Attchd
1       Attchd
2       Attchd
3       Detchd
4       Attchd
         ...
1455    Attchd
1456    Attchd
1457    Attchd
1458    Attchd
1459    Attchd
Name: GarageType, Length: 1460, dtype: object

In [4]:
data = NaSolver(df)
b = data.df.corr().SalePrice.abs().sort_values(ascending=False)

In [22]:

#data.na_lines

classes.NaSolver

In [6]:
data.remove_na_columns(0.25)
data.remove_na_lines(0.25)



#data.remove_na_lines(0.01)
data.replace_na_values()
data.encode_categorical()

Columns removed['Alley', 'FireplaceQu', 'PoolQC', 'Fence']...
Lines removed:[]...

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,3,3,0,4,...,0,0,0,0,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,3,3,0,2,...,0,0,0,0,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,0,3,0,4,...,0,0,0,0,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,0,3,0,0,...,272,0,0,0,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,0,3,0,2,...,0,0,0,0,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,3,3,0,4,...,0,0,0,0,0,8,2007,8,4,175000
1456,1457,20,3,85.0,13175,1,3,3,0,4,...,0,0,0,0,0,2,2010,8,4,210000
1457,1458,70,3,66.0,9042,1,3,3,0,4,...,0,0,0,0,2500,5,2010,8,4,266500
1458,1459,20,3,68.0,9717,1,3,3,0,4,...,112,0,0,0,0,4,2010,8,4,142125
1459,1460,20,3,75.0,9937,1,3,3,0,4,...,0,0,0,0,0,6,2008,8,4,147500

In [7]:
a = data.df.corr().SalePrice.abs().sort_values(ascending=False)
a.head(15)

SalePrice       1.000000
OverallQual     0.790982
GrLivArea       0.708624
GarageCars      0.640409
ExterQual       0.636884
GarageArea      0.623431
BsmtQual        0.620886
TotalBsmtSF     0.613581
1stFlrSF        0.605852
KitchenQual     0.589189
FullBath        0.560664
GarageFinish    0.549247
TotRmsAbvGrd    0.533723
YearBuilt       0.522897
YearRemodAdd    0.507101
Name: SalePrice, dtype: float64

In [20]:
def compare_df(df, name = None):
    if name == None:
        name = ''
    return pd.concat([df.skew(), df.kurt(), df.corr().SalePrice.abs()], axis=1).rename({0:f'Skewness_{name}', 1:f'Kurtosis_{name}', 3:f'Correlation_{name}'}, axis= 'columns')
normal_df = compare_df(data.df)
#sqrt_df = compare_df(np.sqrt(data.df))
normal_df

In [19]:
#normal_df.Correlation < sqrt_df.Correlation 
pd.concat([normal_df, sqrt_df ], axis=1)

ValueError: All objects passed were None

In [ ]:
data.df.kurtosis()

In [ ]:
data.df.corr().SalePryce

In [ ]:
data.df