In [1]:

import pandas as pd
import numpy as np
import os
import sys
sys.path.append('/home/lucas/Área de Trabalho/Ml app/Machine-learning_webapp/package/')
from classes import NaSolver
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.GarageType

0       Attchd
1       Attchd
2       Attchd
3       Detchd
4       Attchd
         ...
1455    Attchd
1456    Attchd
1457    Attchd
1458    Attchd
1459    Attchd
Name: GarageType, Length: 1460, dtype: object

In [4]:
data = NaSolver(df)
b = data.df.corr().SalePrice.abs().sort_values(ascending=False)

In [5]:
#data.remove_na_lines(0.1)
data.remove_na_columns(0.25)
data.replace_na_values()
data.encode_categorical()

Lines removed:[17, 39, 48, 78]...
Columns removed['LotFrontage', 'Alley', 'FireplaceQu', 'PoolQC']...

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,8450,1,3,3,0,4,0,...,0,0,0,0,0,2,2008,8,4,208500
1,2,20,3,9600,1,3,3,0,2,0,...,0,0,0,0,0,5,2007,8,4,181500
2,3,60,3,11250,1,0,3,0,4,0,...,0,0,0,0,0,9,2008,8,4,223500
3,4,70,3,9550,1,0,3,0,0,0,...,272,0,0,0,0,2,2006,8,0,140000
4,5,60,3,14260,1,0,3,0,2,0,...,0,0,0,0,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,7917,1,3,3,0,4,0,...,0,0,0,0,0,8,2007,8,4,175000
1456,1457,20,3,13175,1,3,3,0,4,0,...,0,0,0,0,0,2,2010,8,4,210000
1457,1458,70,3,9042,1,3,3,0,4,0,...,0,0,0,0,2500,5,2010,8,4,266500
1458,1459,20,3,9717,1,3,3,0,4,0,...,112,0,0,0,0,4,2010,8,4,142125
1459,1460,20,3,9937,1,3,3,0,4,0,...,0,0,0,0,0,6,2008,8,4,147500

In [13]:
a = data.df.corr().SalePrice.abs().sort_values(ascending=False)
a.head(15)

SalePrice       1.000000
OverallQual     0.784728
GrLivArea       0.707055
ExterQual       0.651497
GarageCars      0.638999
KitchenQual     0.615624
BsmtQual        0.614358
GarageArea      0.608320
TotalBsmtSF     0.600878
1stFlrSF        0.600771
FullBath        0.566203
TotRmsAbvGrd    0.543270
GarageFinish    0.507863
YearBuilt       0.504802
YearRemodAdd    0.498971
Name: SalePrice, dtype: float64

In [14]:
b.head(15)

SalePrice       1.000000
OverallQual     0.790982
GrLivArea       0.708624
GarageCars      0.640409
GarageArea      0.623431
TotalBsmtSF     0.613581
1stFlrSF        0.605852
FullBath        0.560664
TotRmsAbvGrd    0.533723
YearBuilt       0.522897
YearRemodAdd    0.507101
GarageYrBlt     0.486362
MasVnrArea      0.477493
Fireplaces      0.466929
BsmtFinSF1      0.386420
Name: SalePrice, dtype: float64